.App {
  text-align: center;
  background-color: #7dbbd9;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h4 {
  line-height: 12px;
  margin: 0 0 16px 0;
}

.nav-link a {
  display: block;
    box-sizing: border-box;
    width: 20vw;
    text-decoration: none;
    padding: 4px;
    background-color: #1f1933;
    color: white;
    vertical-align: middle;
}

.nav-link a:hover {
  background-color: #f7f7f7;
  color: #000000;
}

.nav-link a.active {
  font-weight: bolder;
  text-shadow: #1f1933 0px 0px 7px;
  background-color: #f7f7f7;
  color: #000000;
  font-weight: 500;
}